*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* forzo que la propiedad que herede desde body */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* 1 rem = 10px */
  /* si 16px son 100% */
  /* cuanto % son 10px*/
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 7rem;
  padding: 2.7rem;
  /* por defecto no se hereda */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes AnimacionTitulo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px) rotate(0);
            transform: translateX(-100px) rotate(0);
  }
  68% {
    -webkit-transform: rotate(-34deg);
            transform: rotate(-34deg);
  }
  87% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes AnimacionTitulo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px) rotate(0);
            transform: translateX(-100px) rotate(0);
  }
  68% {
    -webkit-transform: rotate(-34deg);
            transform: rotate(-34deg);
  }
  87% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes AnimacionDescripcion {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  87% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes AnimacionDescripcion {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  87% {
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes botonAnimacion {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes botonAnimacion {
  0% {
    opacity: 0;
    -webkit-transform: translateY(8rem);
            transform: translateY(8rem);
  }
  75% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.h1-header {
  color: #fff;
}

.h1-header--titulo {
  display: block;
  font-size: 6rem;
  letter-spacing: 1.55rem;
  font-weight: 900;
  -webkit-animation-name: AnimacionTitulo;
          animation-name: AnimacionTitulo;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.h1-header--description {
  display: block;
  font-size: 2rem;
  text-transform: lowercase;
  letter-spacing: 0.15rem;
  font-weight: 200;
  /* animation: AnimacionDescripcion 3s cubic-bezier(0.165, 0.84, 0.44, 1); */
  -webkit-animation-name: AnimacionDescripcion;
          animation-name: AnimacionDescripcion;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  /* animation-delay: 3s; */
}

.heading-secundary {
  /* 1 rem = 10px */
  /* si 16px son 100% */
  /* cuanto % son 10px*/
  font-size: 3.3rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#1f1fa1), to(#0c0c1a));
  background-image: linear-gradient(to right, #1f1fa1, #0c0c1a);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.heading-secundary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(51, 51, 51, 0.4);
}

.desarrollo-titulo-box {
  text-align: center;
  margin-bottom: 3%;
}

.desarrollo-titulo {
  color: white !important;
}

.descripcion-desarrollo-web {
  color: #fff;
}

.heading-tertiary {
  font-size: 3.8rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 6rem;
  cursor: unset;
}

.heading-cuatro {
  font-size: 3.2rem;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 4rem;
  cursor: unset;
}

.paragraph {
  font-size: 1.6rem;
  line-height: 4.1rem;
  text-align: justify;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 12rem;
}

.section-about {
  background-color: #edecf3;
  padding: 25rem 0;
  margin-top: -10vh;
  margin-bottom: -6vh;
}

.section-features {
  padding: 5rem 1rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#868f967e), to(#191b1be5)), url("https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg");
  background-image: linear-gradient(to top, #868f967e, #191b1be5), url("https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg");
  height: 278vh;
  background-size: cover;
  position: relative;
  padding: 13rem 0;
  background-position: top;
  -webkit-clip-path: polygon(2px -0.68vh, 73.99vw 51px, 100.07% 6px, 100.37% 200.1vh, 35.07% 69.69%, -5px 197.34vh);
          clip-path: polygon(2px -0.68vh, 73.99vw 51px, 100.07% 6px, 100.37% 200.1vh, 35.07% 69.69%, -5px 197.34vh);
  margin-top: -7rem;
}

.section-tours {
  background-color: #edecf3;
  padding: 25rem 0 50rem 0;
  margin-top: -71rem;
  height: 218vh;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5858df), to(#2222ca));
  background-image: linear-gradient(to right bottom, #5858df, #2222ca);
}

/* SOLID COLOR GRADIENT*/
.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 50%, transparent 50%), url("https://www.bing.com/th?id=OIP.TJxRfBiEm_sS5omd_h19XgHaEK&pid=Api&rs=1");
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, 0.7);
          box-shadow: 0 1.5rem 4rem rgba(34, 34, 34, 0.7);
}

.book__form {
  width: 50%;
  padding: 6rem;
}

/* pseudo clase */
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 00;
  margin-top: 6%;
  display: inline-block;
  padding: 0 2.1rem;
  border-radius: 2.5rem;
  position: relative;
  width: 22rem;
}

.btn--white {
  color: #222;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f6f8), color-stop(40%, #d8e1e7), color-stop(70%, #b5c6d0), to(#e0eff9));
  background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 40%, #b5c6d0 70%, #e0eff9 100%);
  -webkit-animation: botonAnimacion 0.5s ease-in-out 0.75s;
          animation: botonAnimacion 0.5s ease-in-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn--white::after {
  background: -webkit-gradient(linear, left top, right top, from(#f2f6f8), color-stop(50%, #d8e1e7), color-stop(51%, #b5c6d0), to(#e0eff9));
  background: linear-gradient(to right, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
}

.btn::after {
  content: "Reserva Ahora";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  z-index: -1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover::after {
  z-index: 1;
  -webkit-transform: scaleX(1.5) scaleY(2.2);
          transform: scaleX(1.5) scaleY(2.2);
  opacity: 0;
}

.btn:active::after {
  z-index: 1;
  -webkit-transform: scaleX(1.5) scaleY(2.2);
          transform: scaleX(1.5) scaleY(2.2);
  opacity: 0;
}

.boton {
  /* pseudo elemento */
}

.boton, .boton:link, .boton:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2.7rem;
  display: inline-block;
  /* margin-top: 6%; */
  border-radius: 10rem;
  -webkit-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
  /* referencia */
  position: relative;
  /* transition-property: all;
    transition-duration: 0.4s; */
  border: none;
  cursor: pointer;
}

.boton:focus, .boton:hover {
  -webkit-transform: translateY(-0.9rem);
          transform: translateY(-0.9rem);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.801);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.801);
}

.boton:focus::after, .boton:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(2.2);
          transform: scaleX(1.5) scaleY(2.2);
  opacity: 0;
}

.boton:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.794);
          box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.794);
}

.boton::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.boton--blanco {
  color: #222;
  background-image: -webkit-gradient(linear, left top, right bottom, from(white), color-stop(72%, darkgrey));
  background-image: linear-gradient(to right bottom, white, darkgrey 72%);
  font-weight: 500;
  -webkit-animation: botonAnimacion 0.5s ease-in-out 0.75s;
          animation: botonAnimacion 0.5s ease-in-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.boton--blanco::after {
  background-image: -webkit-gradient(linear, left top, right bottom, from(white), color-stop(72%, darkgrey));
  background-image: linear-gradient(to right bottom, white, darkgrey 72%);
}

.boton--verde {
  color: #ebebeb;
  background-image: -webkit-gradient(linear, left top, right bottom, from(green), color-stop(72%, darkgreen));
  background-image: linear-gradient(to right bottom, green, darkgreen 72%);
  font-weight: 500;
  -webkit-animation: botonAnimacion 0.5s ease-in-out 0.75s;
          animation: botonAnimacion 0.5s ease-in-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.boton--verde::after {
  background-image: -webkit-gradient(linear, left top, right bottom, from(green), color-stop(72%, darkgreen));
  background-image: linear-gradient(to right bottom, green, darkgreen 72%);
}

.btn-text {
  position: relative;
}

.btn-text:link, .btn-text:active {
  font-size: 2rem;
  text-decoration: none;
  color: #1f1fa1;
  text-transform: uppercase;
  display: inline-block;
  line-height: 5rem;
  font-weight: 700;
  border-bottom: 1px solid #1f1fa1;
  letter-spacing: 2px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 0.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn-text::after {
  content: "Aprende Mas ->";
  position: absolute;
  color: #1f1fa1;
  left: 4px;
  top: 3px;
  line-height: 5.5rem;
  font-weight: 700;
  line-height: 5rem;
  z-index: -9999;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  background-color: #1f1fa1;
  color: #fff;
}

.btn-text:hover::after {
  -webkit-transform: translateX(1.5px) translateY(2.8px) scale(2);
          transform: translateX(1.5px) translateY(2.8px) scale(2);
  opacity: 0;
}

.btn-text:active {
  -webkit-box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.4);
          box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.4);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.header {
  background-image: linear-gradient(95deg, rgba(31, 31, 161, 0.5685), rgba(12, 12, 26, 0.5685)), url("https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg");
  height: 95vh;
  background-size: cover;
  position: relative;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 75% 100%, 0 85vh);
          clip-path: polygon(0 0, 100% 0, 100% 85vh, 75% 100%, 0 85vh);
}

.header__caja-logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 5rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__logo:hover {
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

.header__caja-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  width: 89vw;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/2);
}

.row .col-1-of-3 {
  width: calc((100% - (2*6rem))/3);
}

.row .col-2-of-3 {
  width: calc((100% - 6rem) -((100% - (2*6rem))/3));
}

.row .col-1-of-4 {
  width: calc((100% - 3*6rem)/4);
}

.row .col-3-of-4 {
  width: calc(2*6rem + 3*((100% - 3*6rem)/4));
}

.composition {
  position: relative;
  margin-top: 30%;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(51, 51, 51, 0.4);
  position: absolute;
  border-radius: 2px;
  z-index: 10;
  -webkit-transition: all .2s;
  transition: all .2s;
  outline-offset: 1rem;
}

.composition__photo--img1 {
  left: 0;
  top: -2rem;
}

.composition__photo--img2 {
  right: 0;
  top: 2rem;
}

.composition__photo--img3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #1f1fa3;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(51, 51, 51, 0.8);
          box-shadow: 0 2.5rem 4rem rgba(51, 51, 51, 0.8);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95) translateY(3rem);
          transform: scale(0.95) translateY(3rem);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.8rem;
  padding: 2.5rem;
  line-height: 6rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 2rem rgba(17, 17, 17, 0.4);
          box-shadow: 0 1.5rem 2rem rgba(17, 17, 17, 0.4);
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.feature-box__icon {
  font-size: 12rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: linear-gradient(45deg, #1f1fa1, #0c0c1a);
  -webkit-background-clip: text;
  color: transparent;
  padding: 0.2rem;
}

.feature-box:hover {
  -webkit-transform: translateX(-3.54px) scale(1.07);
          transform: translateX(-3.54px) scale(1.07);
  background-color: white;
  -webkit-box-shadow: 0.3rem 0.1rem 1rem #111;
          box-shadow: 0.3rem 0.1rem 1rem #111;
}

.card {
  text-align: center;
  position: relative;
  height: 71rem;
  height: auto;
  -webkit-perspective: 50rem;
          perspective: 50rem;
  background-color: #edecf3;
}

.card__side {
  -webkit-perspective: 50rem;
          perspective: 50rem;
  -moz-perspective: 100rem;
  height: 71rem;
  font-size: 4rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 5rem rgba(34, 34, 34, 0.815);
          box-shadow: 0 1.5rem 5rem rgba(34, 34, 34, 0.815);
  overflow: hidden;
}

.card__side--front {
  position: relative;
  height: 71rem;
}

.card__side--front-1 {
  background-color: #5858df;
  background: -webkit-gradient(linear, left top, right top, from(#38444d), to(#596164));
  background: linear-gradient(to right, #38444d, #596164);
}

.card__side--front-2 {
  background-color: #5858df;
  background: -webkit-gradient(linear, left top, right top, from(#38444d), to(#596164));
  background: linear-gradient(to right, #38444d, #596164);
}

.card__side--front-3 {
  background-color: #5858df;
  background: -webkit-gradient(linear, left top, right top, from(#38444d), to(#596164));
  background: linear-gradient(to right, #38444d, #596164);
}

.card__side--back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  height: 71rem;
}

.card__side--back-1 {
  background-image: linear-gradient(45deg, #868f96, #596164);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#48c6ef), to(#6f86d6));
  background-image: linear-gradient(to bottom right, #48c6ef, #6f86d6);
}

.card__side--back-3 {
  background-image: linear-gradient(88deg, #09203f, #537895);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%, 0 100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(green), to(darkgreen)), url("https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_960_720.jpg");
  background-image: linear-gradient(to right bottom, green, darkgreen), url("https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_960_720.jpg");
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#690101), to(darkblue)), url("https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg");
  background-image: linear-gradient(to right bottom, #690101, darkblue), url("https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg");
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffae00), to(darkblue)), url("https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg");
  background-image: linear-gradient(to right bottom, #ffae00, darkblue), url("https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg");
}

.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: absolute;
  line-height: 4rem;
  top: 13.5rem;
  right: 0.5rem;
  width: 63%;
}

.card__heading-span {
  padding: 0.5rem 1.5rem;
  -webit-decoration-brake: clone;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 128, 0, 0.767)), to(rgba(0, 100, 0, 0.795)));
  background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.767), rgba(0, 100, 0, 0.795));
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#690101), to(darkblue));
  background-image: linear-gradient(to right bottom, #690101, darkblue);
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffae00), to(darkblue));
  background-image: linear-gradient(to right bottom, #ffae00, darkblue);
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.card__details {
  padding: 1rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  font-size: 1.7rem;
  padding: 1rem;
  color: white;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #fefe;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(17, 17, 17, 0.7);
          box-shadow: 0 3rem 6rem rgba(17, 17, 17, 0.7);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  /*padding left porque el transform mueve el shape 3px a la izquierda  */
  /* para darle espacio y que quede mejor centrado 6rem + 3rem   */
  padding-left: 12rem;
  font-size: 1.6rem;
  line-height: 3.5rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story::after {
  content: "";
  display: table;
  clear: both;
}

.story > * {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  /*radious 7.5rem half of the width */
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-6rem) skewX(12deg);
          transform: translateX(-6rem) skewX(12deg);
  position: relative;
}

.story__img {
  width: 149%;
  height: 114%;
  -webkit-transform: translate(-24%, 0%) scale(1.3);
          transform: translate(-24%, 0%) scale(1.3);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.story__text {
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: white;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story:hover .story__img {
  -webkit-transform: translate(-24%, 0%) scale(1);
          transform: translate(-24%, 0%) scale(1);
  -webkit-filter: blur(6px) brightness(70%);
          filter: blur(6px) brightness(70%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .8;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  /* cuando se vea el placeholder del input ocultara el label*/
}

.form__group {
  color: #444;
  line-height: 3rem;
  font-size: 1.5rem;
  position: relative;
}

.form__group:not(:last-child) {
  margin-bottom: 4rem;
}

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  border-bottom: 3px solid transparent;
  display: block;
  width: 90%;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2);
          box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.2);
  border-bottom: 3px solid #3da11f;
}

.form__input:focus:invalid {
  border-bottom: 3px solid orangered;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-weight: 700;
  margin-left: 1.7rem;
  margin-top: .7rem;
  /* using box properties */
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  /*get really gone we cannot animate vissibility but opacity*/
  visibility: hidden;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-group-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  position: relative;
  cursor: pointer;
  padding-left: 4.5rem;
}

.form__radio-button {
  /* just have to be specified it works as relative*/
  position: absolute;
  height: 3rem;
  width: 3rem;
  border: 5px solid #1f1fa1;
  border-radius: 50%;
  display: inline-block;
  left: 0;
  top: -.4rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1f1fa1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}

.form__radio-group-input:checked ~ .form__radio-label > .form__radio-button::after {
  opacity: 1;
}

.navigation {
  /* input checkbox */
  /* its a label element */
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 3000;
  border-radius: 50%;
  -webkit-box-shadow: 0 1rem 1rem rgba(34, 34, 34, 0.4);
          box-shadow: 0 1rem 1rem rgba(34, 34, 34, 0.4);
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#5858df, #2222ca);
  z-index: 1000;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s cubic-bezier(0.22, 0.34, 0.97, 0.41);
  transition: all 0.4s cubic-bezier(0.22, 0.34, 0.97, 0.41);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  opacity: 0;
  width: 100%;
  -webkit-transform: translateX(79rem) rotate(20deg) scale(0) skewX(-43deg);
          transform: translateX(79rem) rotate(20deg) scale(0) skewX(-43deg);
  -webkit-transition: all 0.4s cubic-bezier(0.22, 0.34, 0.97, 0.41);
  transition: all 0.4s cubic-bezier(0.22, 0.34, 0.97, 0.41);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  color: #edecf3;
  padding: .7rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #edecf3 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #2222ca;
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(0) scale(1) skewX(0);
          transform: translateX(0) rotate(0) scale(1) skewX(0);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(50);
          transform: scale(50);
}

.navigation__icon {
  position: relative;
  margin-top: 3.4rem;
  margin-left: 2rem;
  /* &, repite todo pilas */
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2.5px;
  background-color: #333;
  display: inline-block;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -1rem;
}

.navigation__icon::after {
  top: 1rem;
}

.navigation__button:hover {
  cursor: pointer;
}

.navigation__button:hover .navigation__icon::before {
  top: -1.3rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1.3rem;
}

.navigation__checkbox:checked + .navigation__button > .navigation__icon {
  /* opacity: 0; */
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button > .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button > .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.navigation__checkbox:checked + .navigation__button {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#section-tours:target * .popup .popup__content {
  opacity: 0;
  -webkit-transform: translateX(50rem);
          transform: translateX(50rem);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  -webkit-perspective: 50rem;
          perspective: 50rem;
  -moz-perspective: 50rem;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  -webkit-transform: rotateX(0) translate(-50%, -50%) scale(1);
          transform: rotateX(0) translate(-50%, -50%) scale(1);
}

.popup__close:link, .popup__close:visited {
  color: #333;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
}

.popup__close:link:hover, .popup__close:visited:hover {
  color: #5858df;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  display: table;
  -webkit-transition: all .3s ease-in .5s;
  transition: all .3s ease-in .5s;
  -webkit-transform: rotateX(50deg) translate(-50%, -50%) scale(0.25);
          transform: rotateX(50deg) translate(-50%, -50%) scale(0.25);
}

.popup__left {
  width: 33.333333%;
  display: table-cell;
  overflow-x: hidden;
  vertical-align: middle;
}

.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 1srem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-column-rule: 1px solid #222;
          column-rule: 1px solid #222;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/* .header:hover {
    background-image: linear-gradient(-95deg, rgba(31, 31, 161, 0.5685), rgb(12, 12, 26, 0.5685)), url("https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg");
} */
.padre {
  border: 1px solid rgba(255, 255, 255, 0.678);
}

/* especifity practice */
/*# sourceMappingURL=styles.css.map */