@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "pages/home";
@import "components/button";
@import "components/header";
@import "components/h1header";
@import "layout/grid";
@import "components/composition";
@import "components/featurebox";

/* .header:hover {
    background-image: linear-gradient(-95deg, rgba(31, 31, 161, 0.5685), rgb(12, 12, 26, 0.5685)), url("https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg");
} */

.padre {
    border: 1px solid rgba(255, 255, 255, 0.678);
}


/* especifity practice */