// colors
$primary-color:#1f1fa1;
$secundary-color:#0c0c1a;

$color-secundary-light:#5858df;
$color-secundary-dark:#2222ca;


$color-terciary-light:#3da11f;
$color-terciary-dark:#0f3503;

$box-shadow:0 1.5rem 5rem rgba(34, 34, 34, 0.815);

$color-grey-light-1:#edecf3;
$color-black:#111;
$color-dark: #333;
$color-white: #fff;
// fonts
$default-font-size:1.6rem;
$button-size:2rem;
// grid css variables
$row-grid-width:89vw;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;