/* pseudo clase */

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 00;
    margin-top: 6%;
    display: inline-block;
    padding: 0 2.1rem;
    border-radius: 2.5rem;
    position: relative;
    width: 22rem;
  }
  &--white {
    color: #222;
    font-weight: 500;
    background: linear-gradient(
      to bottom,
      rgba(242, 246, 248, 1) 0%,
      rgba(216, 225, 231, 1) 40%,
      rgba(181, 198, 208, 1) 70%,
      rgba(224, 239, 249, 1) 100%
    );   
    animation: botonAnimacion 0.5s ease-in-out 0.75s;
    animation-fill-mode: backwards;
    &::after{
        background: linear-gradient(
            to right,
            rgba(242, 246, 248, 1) 0%,
            rgba(216, 225, 231, 1) 50%,
            rgba(181, 198, 208, 1) 51%,
            rgba(224, 239, 249, 1) 100%
          );
    }    
  }
  &::after {
    content: "Reserva Ahora";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    z-index: -1;
    transition: all .3s;
  }
  &:hover {
    &::after {
        z-index: 1;
        transform: scaleX(1.5) scaleY(2.2);
        opacity: 0;
    }
  }

  &:active{
      &::after{
        z-index: 1;
        transform: scaleX(1.5) scaleY(2.2);
        opacity: 0; 
      }
  }
}

.boton {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 2.7rem;
    display: inline-block;
    /* margin-top: 6%; */
    border-radius: 10rem;
    transition: all 0.05s ease-out;
    /* referencia */
    position: relative;
    /* transition-property: all;
    transition-duration: 0.4s; */
  }
  &:hover {
    transform: translateY(-0.9rem);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.801);
    &::after {
      transform: scaleX(1.5) scaleY(2.2);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.794);
  }
  /* pseudo elemento */
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }
  &--blanco {
    color: #222;
    background-image: linear-gradient(to right bottom, white, darkgrey 72%);
    font-weight: 500;
    animation: botonAnimacion 0.5s ease-in-out 0.75s;
    animation-fill-mode: backwards;
    &::after {
      background-image: linear-gradient(to right bottom, white, darkgrey 72%);
    }
  }
  &--verde {
    color: rgb(235, 235, 235);
    background-image: linear-gradient(to right bottom, green, darkgreen 72%);
    font-weight: 500;
    animation: botonAnimacion 0.5s ease-in-out 0.75s;
    animation-fill-mode: backwards;
    &::after {
      background-image: linear-gradient(to right bottom, green, darkgreen 72%);
    }
  }
}

.btn-text {
  position: relative;
  &:link,
  &:active {
    font-size: 2rem;
    text-decoration: none;
    color: $primary-color;
    text-transform: uppercase;
    display: inline-block;
    line-height: 5rem;
    font-weight: 700;
    border-bottom: 1px solid $primary-color;
    letter-spacing: 2px;
    backface-visibility: hidden;
    padding: 0.4rem;
    transition: all 0.3s;
    position: relative;
  }
  &::after {
    content: "Aprende Mas ->";
    position: absolute;
    color: $primary-color;
    left: 4px;
    top: 3px;
    line-height: 5.5rem;
    font-weight: 700;
    line-height: 5rem;
    z-index: -1;
    transition: all 0.2s;
  }
  &:hover {
    transform: translateY(-9px);
    background-color: $primary-color;
    color: $color-white;
    &::after {
      transform: translateX(1.5px) translateY(2.8px) scale(2);
      opacity: 0;
    }
  }
  &:active {
    box-shadow: 0 1rem 1rem rgba($color-black, 0.4);
    transform: translateY(2px);
  }
}
