.feature-box{
    background-color: rgba($color-white,.8);
    font-size: 1.8rem;
    padding: 2.5rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 2rem rgba($color-black,.4);
    transition: all .05s;

    &__icon{
        font-size: 12rem;
        margin-bottom: .5rem;
        // in order for gradient to work we need this display since it is only inline
        display: inline-block;
        background-image: linear-gradient(45deg,$primary-color,$secundary-color);
        -webkit-background-clip: text;
        color: transparent;
        padding: 0.2rem;
    }
    &:hover{
        transform: translateX(-3.54px) scale(1.07);
        filter: brightness(180%);
        background-color: rgba($color-white,.9);      
        box-shadow: .2rem .1rem 1rem rgba($color-black,.9);
    }

}
