.form {
	&__group {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
		color: #444;
		line-height: 3rem;
		font-size: 1.5rem;
		position: relative;
	}
	&__input {
		font-size: 1.5rem;
		padding: 1.5rem 2rem;
		border-radius: 2px;
		background-color: rgba($color-white, 0.5);
		border: none;
		font-family: inherit;
		color: inherit;
		border-bottom: 3px solid transparent;
		display: block;
		width: 90%;
		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba(#222, 0.2);
			border-bottom: 3px solid $color-terciary-light;
			&:invalid {
				border-bottom: 3px solid orangered;
			}
		}

		&::-webkit-input-placeholder {
			color: #999;
		}
	}

	&__label {
		font-weight: 700;
		margin-left: 1.7rem;
		margin-top: .7rem;
		/* using box properties */
		display: block;
		transition: all .3s;
	}
	/* cuando se vea el placeholder del input ocultara el label*/
	&__input:placeholder-shown + &__label {
		opacity: 0;
		/*get really gone we cannot animate vissibility but opacity*/
		visibility: hidden;
    transform: translateY(-5rem);
	}
	&__radio-group {
		width: 49%;
		display: inline-block;
	}
	&__radio-group-input {
		display: none;
	}

	&__radio-label {
		font-size: $default-font-size;
		position: relative;
		cursor: pointer;
		padding-left: 4.5rem;
	}

	&__radio-button {
		/* just have to be specified it works as relative*/
		position: absolute;
		height: 3rem;
		width: 3rem;
		border: 5px solid $primary-color;
		border-radius: 50%;
		display: inline-block;
		left: 0;
		top: -.4rem;
		&::after {
			content: "";
			display: block;
			border-radius: 50%;
			height: 1.2rem;
			width: 1.2rem;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: $primary-color;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity .2s ease-in;
		}
	}

	&__radio-group-input:checked ~ &__radio-label > &__radio-button::after {
		opacity: 1;
	}
}
