.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.7);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem;
  /*padding left porque el transform mueve el shape 3px a la izquierda  */
  /* para darle espacio y que quede mejor centrado 6rem + 3rem   */
  padding-left: 12rem;
  font-size: 1.6rem;
  line-height: 3.5rem;
  transform: skewX(-12deg);
  @include clearfixHack;
  & > * {
    transform: skewX(12deg);
  }
   &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    /*radious 7.5rem half of the width */
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-6rem) skewX(12deg);
    position: relative;
  }
  &__img {
    width: 149%;
    height: 114%;
    transform: translate(-24%, 0%) scale(1.3);
    transition:  all .5s ease-in-out;
  }
  &__text {
    transform: translateX(-3rem) skewX(12deg);
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img{
    transform: translate(-24%, 0%) scale(1);  
    filter: blur(6px) brightness(70%);  
  }

}
