.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // height: 95vh;
  // clip-path: polygon(0 0, 100% 0, 100% 85vh, 75% 100%, 0 85vh);
  // 95vh - 85vh
  margin-top: -10vh;
  margin-bottom: -6vh;
}
.section-features {
  padding: 5rem 1rem;
  background-image: linear-gradient(to top, #868f967e, #191b1be5),
    url("https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg");
  height: 278vh;
  background-size: cover;
  position: relative;
  padding: 13rem 0;
  background-position: top;
  clip-path: polygon(
    2px -0.68vh,
    73.99vw 51px,
    100.07% 6px,
    99.98% 173.65vh,
    29.28% 59.41%,
    5px 173.79vh
  );
  margin-top: -7rem;
}
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -114rem;
  height: 150vh;

}

.section-stories{
  padding: 15rem 0;
  position: relative;
  // background-color: aquamarine;

}


.section-book{
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom,$color-secundary-light,$color-secundary-dark);

}
/* SOLID COLOR GRADIENT*/

.book{
  background-image: linear-gradient(105deg ,
                                    rgba($color-white,.85) 0%,
                                    rgba($color-white,.85) 50%,
                                    transparent 50% 
                                    )
                                     ,url("https://www.bing.com/th?id=OIP.TJxRfBiEm_sS5omd_h19XgHaEK&pid=Api&rs=1");
  background-size: 100%;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#222,.7);

  &__form{
    width: 50%;
    padding: 6rem;
  }
}