.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // height: 95vh;
  // clip-path: polygon(0 0, 100% 0, 100% 85vh, 75% 100%, 0 85vh);
  // 95vh - 85vh
  margin-top: -10vh;
  margin-bottom: -6vh;
}
.section-features {
  padding: 5rem 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(31, 31, 161, 0.8685),
      rgba(12, 12, 26, 0.8685)
    ),
    url("https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg");
  height: 153vh;
  background-size: cover;
  position: relative;
  padding: 13rem 0;
  background-position: top;
  clip-path: polygon(
    2px -0.68vh,
    73.99vw 51px,
    100.07% 6px,
    100.14% 135.97vh,
    26.01vw 85.15%,
    0 135.97vh
  );
  margin-top: -7rem;
}
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -33rem;
}
